.book {
    border: 1px solid black;
    width: 95%;
    margin: 1em;
}

#title {
    font-size: 2em;
}

#subtitle {
    font-size: 1em;
}

#description {
    border-bottom: 1px solid black;
}

#publisherInfo,
#moreOptions {
    margin: auto;
}

#moreOptions button {
    margin-left: 1em;
    margin-right: 1em;
}

/* Padding */
#description,
#publisherInfo,
#moreOptions {
    padding: .5em;
}