.book {
    border: 1px solid black;
    width: 95%;
    margin: auto;
    margin-bottom: 1em;
}

#title {
    font-size: 2em;
}

#subtitle {
    font-size: 1em;
}

#description {
    border-bottom: 1px solid black;
}

/* Padding */
#description,
#publisherInfo {
    padding: .5em;
}